.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  transition-duration: 0.4s;
}

.place__link:hover {
  opacity: 0.6;
}
